{% extends "base.html" %}

{% block titulo_conteudo %}
    <h1>Detalhes do Produto</h1>
{% endblock %}

{% block conteudo %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">Preço: R$ {{ produto.preco|floatformat:2 }}</p>
            <p class="card-text">Categoria: {{ produto.categoria.nome }}</p>
            <p class="card-text">Imagem:</p>
            <img src="{{ produto.img_base64 }}" alt="{{ produto.nome }}" class="img-fluid">
        </div>
    </div>
{% endblock %}
