{% extends 'base.html' %}

{% block titulo_conteudo %}
    <h1>Listagem de Produtos</h1>
{% endblock %}

{% block conteudo %}
    <a href="{% url 'form_produto' %}" class="btn btn-primary mb-3">Inserir Novo</a>
    <a href="#" class="btn btn-secondary mb-3">Recarregar</a>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imagem</th> <!-- Nova coluna para imagem -->
                <th scope="col">Nome</th>
                <th scope="col">Preço (R$)</th>
                <th scope="col">Categoria</th>
                <th scope="col">Qtde</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>
                        {% if produto.img_base64 %}
                            <img src="data:image/png;base64,{{ produto.img_base64 }}" width="50" height="50">  <!-- Ajuste o tamanho conforme necessário -->
                        {% else %}
                            <img src="/static/default-image.png" width="50" height="50">  <!-- Imagem padrão se não houver base64 -->
                        {% endif %}
                    </td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.preco|floatformat:2 }}</td>
                    <td>{{ produto.categoria.nome }}</td>
                    <td>{{ produto.estoque.qtde }}</td>
                    <td>
                        <a href="{% url 'detalhes_produto' produto.id %}" class="btn btn-info btn-sm">Detalhes</a>
                        <a href="{% url 'ajustar_estoque' produto.id %}" class="btn btn-warning btn-sm">Estoque</a>
                        <a href="{% url 'editar_produto' produto.id %}" class="btn btn-dark btn-sm">Editar</a>
                        <a href="{% url 'remover_produto' produto.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este produto?');">Remover</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">Nenhum produto encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


